// Custom Bootstrap variable overrides go first
@import url('https://v1.fontapi.ir/css/SahelFD');

$grid-breakpoints: (
  xs: 0,
  sm: 480px,
  md: 640px,
  lg: 992px,
  xl: 1300px
);

$font-family-sans-serif: 'Sahel FD', sans-serif;

$primary: #e93558;
// Then include the following
@import 'bootstrap-rtol/src/scss/bootstrap.scss';
@import 'bootstrap-vue/src/index.scss';

// And define any of your custom or additional CSS/SCSS here,
// or via an @import
